<form action="/student/{{ id }}" method="POST">
  <label for="pw">Voer wachtwoord in voor student details:</label>
  <input type="password" name="password" id="pw">
  <button type="submit">Log in</button>
</form>