* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: "Times New Roman", serif;
    background-image: url("bg2.jpg");
    background-size: contain;
    background-repeat: repeat;
    color: #2b1a0f;

}

a {
    all: unset;
    cursor: pointer;
    height: 100%;
    width: 100%;
}


/* Controls */

.controls {
    display: flex;
    gap: 20px;
    padding: 20px 40px;
}

.control {
    background: #8b6b4a;
    padding: 14px 20px;
    font-size: 16px;
    width: max-content;
}


.wall {
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    gap: 70px 45px;
    padding: 60px;
}


.poster {
    /* width: 200px; */
    background: linear-gradient(#f6e7c8, #e6d2a2);
    padding: 14px 12px 16px;
    position: relative;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.45);

    transform: rotate(var(--rot));
}

.poster:nth-child(4n + 1) {
    --rot: -2deg;
}

.poster:nth-child(4n + 2) {
    --rot: 1.5deg;
}

.poster:nth-child(4n + 3) {
    --rot: -1deg;
}

.poster:nth-child(4n + 4) {
    --rot: 2deg;
}

.poster:nth-child(odd) {
    margin-top: 10px;
}

.poster:nth-child(3n) {
    margin-top: -8px;
}



.pin {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg);
    font-size: 28px;
}



.poster h1 {
    margin: 0;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
}

.poster h2 {
    margin: 2px 0 10px;
    text-align: center;
    font-size: 16px;
}


/* .photo {
  width: 100%;
  height: 90px;
  background: #ccc;
  margin-bottom: 10px;
} */

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}



.poster ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.poster li {
    line-height: 1.4;
}